$primary-bg: #84c754;
$secondary-bg: #f1f1f1;
$accent-bg: #9933cc;
$card-bg: #33b5e5;
$white-bg: #ffffff;
$border-color: grey;

$grid-height-sm: 90px;
$grid-height-md: 230px;
$grid-height-lg: 370px;
$grid-height-xs: 50px;
