/* Tùy chỉnh khoảng cách và kiểu dáng */
body {
  padding-top: 56px;
  font-family: "Roboto", sans-serif;
}

.jumbotron {
  border-radius: 0;
}

.card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}
